<% const existeMensaje = typeof mensaje !== "undefined"%>


<!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"> -->
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if (existeMensaje){%>
<p>MENSAJE: <%=mensaje%></p>
<%}%>

<h1>Asignar roles </h1>



<table><caption>USUARIO</caption>
    <tr>
        <td><%= usuario.nombre_usuario %></td>
    </tr>
    <tr>
        <td><%= usuario.email_usuario %></td>
    </tr>
    <tr>
        <td><%= usuario.fecha_nacimiento_usuario %></td>
    </tr>
</table>


<table>

    <caption>ROLES</caption>
    <%rolUsuario.forEach((rol)=> { %>
    <tr>
        <td><%= rol.rol.rol_nombre%></td>
        <td>
            <form action="/rol-por-usuario/borrar/<%= rol.id %>" method="POST">
                <button type="submit"> X </button>
            </form>
        </td>
    </tr>
    <% }) %>
</table>



<br>
<br>



<form action="/rol-por-usuario/asignar-rol/<%=usuario.id%>" method="POST">
    <label for="rol">ROLES</label>
    <select  name="rol" id="rol">
        <% opcionesRoles.forEach( (respuesta)=> { %>
        <option
                value="<%=respuesta.id%>"
        >
            <%=respuesta.rol_nombre%>
        </option>
        <% }) %>
    </select>
    <button>Asignar</button>
</form>