<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Actores y Peliculas</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

</head>

<body>

    <div class="container">
    <br>
    <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal"
                    data-target="#myExtraLargeModalLabel1">
                    Nuevo Actor
                </button>
                <div class="modal fade" id="myExtraLargeModalLabel1" tabindex="-1" role="dialog"
                    aria-labelledby="myExtraLargeModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myExtraLargeModalLabel1">Crear Actor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <%- include('crear-actor')%>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal"
                        data-target="#myExtraLargeModalLabel">
                        Nuevo Pelicula
                    </button>
                    <div class="modal fade" id="myExtraLargeModalLabel" tabindex="-1" role="dialog"
                        aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myExtraLargeModalLabel">Crear Pelicula</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <%- include('crear-pelicula')%>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        <div>
            <h2>Listado de Actores</h2>
            <div class="scroll-tabla">
                <table class="table table-hover animated slideInLeft">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Número de Peliculas</th>
                            <th>Retirado</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% arregloActores.map( (movie)=> { %>
                        <tr>
                            <td>
                                <%= movie.nombres%>
                            </td>
                            <td>
                                <%= movie.apellidos%>
                            </td>
                            <td>
                                <%= movie.fechaNacimiento%>
                            </td>
                            <td>
                                <%= movie.numeroPeliculas%>
                            </td>
                            <td>
                                <%= movie.retirado ? 'Si': 'No'%>
                            </td>
                            <td>
                                    <form action="/actor/eliminar-actor/<%= movie.id%>" method="POST">
                                        <button class="btn btn-outline-danger btn-block estaciado-boton" type="submit">
                                            Eliminar</button>
                                    </form>
            
                                    <br>
                                    <a href="/actor/actualizar-actor/<%= movie.id%>" class="quitar-link">
                                        <button class="btn btn-outline-secondary btn-block estaciado-boton">Actualizar</button>
                                    </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>
                   <div class="container">
                <div>
                    <h2>Listado de Peliculas</h2>
                    <div class="scroll-tabla">
                        <table class="table table-hover animated slideInLeft">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Año de Lanzamiento</th>
                                    <th>Rating</th>
                                    <th>Actores Principales</th>
                                    <th>Sinopsis</th>
                                    <th>Opción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% arregloPeliculas.map( (movie)=> { %>
                                <tr>
                                    <td>
                                        <%= movie.nombre%>
                                    </td>
                                    <td>
                                        <%= movie.anioLanzamiento%>
                                    </td>
                                    <td>
                                        <%= movie.rating%>
                                    </td>
                                    <td>
                                        <%= movie.actoresPrincipales%>
                                    </td>
                                    <td>
                                        <%= movie.sinopsis%>
                                    </td>
                                    <td>
                                            <form action="/pelicula/eliminar-pelicula/<%= movie.id%>" method="POST">
                                                <button class="btn btn-outline-danger btn-block estaciado-boton" type="submit">
                                                    Eliminar</button>
                                            </form>
                    
                                            <br>
                                            <a href="/pelicula/actualizar-pelicula/<%= movie.id%>" class="quitar-link">
                                                <button class="btn btn-outline-secondary btn-block estaciado-boton">Actualizar</button>
                                            </a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>