<% const existeMensaje = typeof mensaje !== "undefined"%>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if (existeMensaje){%>
<p>MENSAJE: <%=mensaje%></p>
<%}%>

<h1>Usuario Administrador</h1>
<h1>Lista de usuarios</h1>

<form action="/busqueda" method="post">

    <label for="busqueda">Búsqueda</label>
    <input id="busqueda" type="text">

    <button>Buscar</button>
</form>

<table>
    <!-- tr -> table row -->
    <tr>
        <!-- th -> table header -->
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha de nacimiento</th>
        <th>Acciones</th>
    </tr>
    <!-- tr -> table row -->
    <% arreglo.forEach( (Usuario)=> { %>
    <tr>
        <!-- td -> table detail -->
        <td><%= Usuario.nombre %></td>
        <td><%= Usuario.correo %></td>
        <td><%= Usuario.fechaNacimiento %></td>
        <td>
            <form action="/eliminar/<%= Usuario.id %>" method="POST">
                <button type="submit"> Eliminar</button>
            </form>
            <a href="/actualizarUsuario/<%= Usuario.id %>">
                <button>Actualizar</button>
            </a>
        </td>
    </tr>
    <% }) %>
</table>